body{
    background-image: url("https://i.pinimg.com/originals/f1/2c/46/f12c46485efa00faa633a74fdc6ea134.jpg");
    background-size: cover;
}



.textarea-container {
  position: relative;
  /* you should change this*/
  width: 50%;
}

textarea, .textarea-size {
  min-height: 25px;
  /* need to manually set font and font size */
  font-family: sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid;

  overflow: hidden;
  width: 50%;
  
}

#methodInput{
  padding-left: 25%;
}

textarea {
  height: 150%;
  position: absolute;
  resize:none;

  /*
  "pre" or "preline" or "normal" fixes Chrome issue where
    whitespace at end of lines does not trigger a line break.
  However, it causes the text to exhibit the behavior seen with
    "pre" that is described below.
   */
  white-space: normal;
}

.textarea-size {
  visibility: hidden;

  /*
  Pre-wrap: preserve spacing and newlines, but wrap text.
  Pre: preserve spacing and newlines but don't wrap text.

  "pre" does not wrap well on Firefox, even with word-wrap:break-word.
  "pre" on Chrome works with word-wrap, but exhibits different behavior:
  Instead of entire words being moved to the next line for wrapping,
  the browser will cut words in the middle for wrapping.
  "pre-line" has Firefox issues
  */
  white-space: pre-wrap;
  /* Required for wrapping lines in Webkit,
    but not necessary in Firefox if you have white-space wrapping
    (pre-wrap, normal, pre-line) already set */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.title{
    color: rgb(27, 199, 185);
    font-size: 26px;
    text-align: center;
    font-weight: bold;
   
    
}

.card-title{
    font: 3rem;
    font-weight: bold;
}

.inputing:hover{
    background-color: rgb(194, 255, 250);
}
.inputing{
    text-align: center;
}

#method:hover{
  background-color: rgb(194, 255, 250);
}
#Rating:hover{
  background-color: rgb(194, 255, 250);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }

  .behind-text{
    background-color: #3d3d3d;
    text-align: left;
    vertical-align: middle;
    padding: 21% 24%;
    position: absolute;
    margin-left: 25%;
    opacity: 0.4;
    z-index: -1;
    border-radius: 25px;

  }



  .banner{
        background-color: #333;
  }

.select2-selection__rendered:hover{
    background-color: rgb(194, 255, 250);
}
  
.select2-results__option{
    background-color: white;
    color: black;
    font-size: 19.3px;
}

.select2-selection__choice{
    background-color: white;
    color: black;

}

.select2-results__option:hover{
    background-color: rgb(27, 199, 185);
}

.select2-container--focus{
    background-color: white;
}

.select2-selection__rendered{
    padding: 5px;
}

  li {
    float: left;
    font-size: 20px;

  }
  
  li a {
    display: block;
    color:  rgb(27, 199, 185);
    text-align: center;
    padding: 16px 26px;
    text-decoration: none;
  
    
  }

.mainRecText{
  display: block;
  color: white;
  display: block;
  text-align: center;
  padding: 16px;
  padding-right: 45px;
  padding-left: 20px;
  text-decoration: none;
  float: left;
  font-weight: bold;
  font-size: 20px;
}

.mainRecText:hover{
  color: rgba(223, 223, 223, 0.459)
}

.submitButton{
    background-color: rgb(27, 199, 185);
    font-size:18px;
    margin-left: 65%;
}


.buttonEditDelete{

}
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    color:  white;
  }


  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 34px;
  }


  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 5px;
    border: none;
    margin-top: 8px;
    margin-right: 8px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

  body {
      font-size: 12px;
     
  }

.boxed {
    text-align: center;
    letter-spacing: 22px;
    font-size: 90px;
    
} 

.boxed span{
  background-color:#3d3d3d70;
    border-radius: 25px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}



.row{
    padding: 2px;
    padding: 121px;
    margin: -44px;
}

.sub-title{
    font-size: 18px;
    color:  white;
    text-align: center;
}

.viewRecipeFormat{
  font-size: 18px;
  color:  white;
  text-align: center;
}

select{
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

table {
  border-collapse: collapse;
  /* border: 1px solid black; */
  width: 95%;
  text-align: center;
  color: black;
  padding: 15px;
  margin-left:auto; 
  margin-right:auto;
}

table thead{
  color: white;
}
table.dataTable.no-footer{
  border-bottom: none !important;
}

.dataTables_filter{
  margin-right: 0.4%;
  padding-right: 1%;
}

label{
  color: white;
  text-align: center;
  font-size: 19.2px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
}

th, td {
  border: 1px solid rgba(0, 0, 0, 0.301);
}
th{
  padding: 15px;
}

td{
  padding-bottom: 15px;
}


#headerStyle{
  font-size: 18px;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.5) !important;
}  


tr:nth-child(even) {background: rgb(192, 212, 255) !important} 
tr:nth-child(even):hover{background: rgba(165, 182, 219, 0.651)!important}
tr:nth-child(odd) {background: rgb(199, 187, 187) !important}
tr:nth-child(odd):hover{background: rgba(161, 151, 151, 0.644)!important}

#singleRecipeRating{display:inline-block;}
#ratTitle{display:inline-block;}

#serveTitle{display:inline-block;}
#singleRecipeServing{display:inline-block;}


#deleteButton{float: right;}
#editButton{float: right;}

#editPage{
  text-align: center;
}